nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.footera a {
    color: #333;
}
.footera {
    padding-bottom: 20px;
}
.home.container {
  min-height: 550px;
  padding-top: 30px;
}
nav .nav-wrapper i.addicon, nav a.button-collapse i.addicon {
    line-height: 43px;
}

.input-field {
    color: #333;
}
.input-field .validate {
    margin-top: 15px;
}
